#demos/testing
template.html
buttons/
alt.js
pre-purge/
oldhome.html
test.html
images copy
zo/

#drafting
beta.html
beta2.html
testing.json

#mac-specific
.DS_Store
settings.json

#incompatible filetypes
*.mp*
*.ogg
*.wav