#demos/testing
template.html
styles/pre-may-style-edits.css
pre-may-style.css
aug-style.css
buttons/
alt.js
pre-purge/
oldhome.html
test.html
images copy

#mac-specific
.DS_Store

#incompatible filetypes
*.mp*
*.ogg
*.wav