#demos/testing
template.html
styles/pre-may-style-edits.css
pre-may-style.css
aug-style.css
buttons/
alt.js
pre-purge/
oldhome.html
test.html
images copy

#drafting
beta.html
beta2.html
testing.json

#mac-specific
.DS_Store
settings.json

#incompatible filetypes
*.mp*
*.ogg
*.wav