#HCB_comment_box textarea,
#HCB_comment_box input.text,
#HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email {
    background-color: var(--backdrop);
    color: var(--text);
    resize: vertical;
}

#HCB_comment_box .hcb-wrapper-half {
    width: 50%;
    float: left;
}

#HCB_comment_box .hcb-wrapper {
    clear: both;
}

#HCB_comment_box input.text {
    width: 95%;
}

#HCB_comment_box input.submit,
#HCB_comment_box #hcb_form .btn,
#HCB_comment_box #HCB_comment_form_box .btn,
#hcb_settings, a#hcb_settings
{
    border: 1px solid var(--links);
    background-color: var(--black);
    color: var(--links);
    font-family: 'Abel', sans-serif;
    font-size: 1.06em;
    margin: 3.5px 0;
    text-transform: uppercase;
    width: max-content;
    cursor: pointer;
    padding-block: 8px;
    border-radius: 30px;
}

#HCB_comment_box input.submit:hover {
    background-color: var(--blue);
    color: var(--links);
    border: 1px solid var(--backdrop-dark);
}

/* #HCB_comment_box input.submit {
    border-top: 1px solid #fcb1a2;
    border-left: 1px solid #fcb1a2;
    border-bottom: 1px solid #bb2b0f;
    border-right: 1px solid #bb2b0f;
    background-color: #f26646;
    color: #000;
    font-weight: 700;
    cursor: pointer
} */

#HCB_comment_box div.comment {
    border-bottom: var(--text);
    margin-bottom: 8px;
    padding: 8px 0;
}

#HCB_comment_box .date {
    color: var(--text);
}

#HCB_comment_box .comment .likes {
    color: var(--text);
}

#HCB_comment_box .hcb-link {
    color: var(--links);
    text-decoration: none;
}

#HCB_comment_box #hcb_form textarea,
#HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email,
#HCB_comment_box #hcb_form .btn,
#HCB_comment_box #HCB_comment_form_box .btn,
#HCB_comment_box .home-desc,
#HCB_comment_box,
#hcb-settings {
    font-family: monospace !important;
    color: var(--text);
}

#HCB_comment_box input[type="file"] {
    display: none;
}

#HCB_comment_box #hcb_form textarea,
#HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email {
    text-transform: lowercase;
    width: 95%;
    font-size: 14px;
    padding: 8px;
    border: solid gray 1px;
}

#HCB_comment_box #hcb_form textarea {
    width: 100%;
}

#HCB_comment_box .hcb-comment-tb button,
#HCB_comment_box #hcb_form .home-desc a,
#HCB_comment_box .home-desc a:visited {
    color: var(--links) !important;
    text-transform: lowercase;
    padding: 8px;
    border: none;
}

#HCB_comment_box h3,
.admin-link, 
img.hcb-icon {
    display: none;
}

#HCB_comment_box .home-desc {
    font-size: 11px;
    text-transform: lowercase;
}

@media only screen and (max-width : 790px) {

    #HCB_comment_box #hcb_form #hcb_form_name,
    #HCB_comment_box #hcb_form #hcb_form_website,
    #HCB_comment_box #hcb_form #hcb_form_email {
        font-family: monospace;
        width: 93%;
    }
}