@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    /* src: url(https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPbh5uGM.woff2) format('woff2'); */
    src: url(../styles/1052d6ca3993ae24a932304560a4c8b4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div.HCB_comment_box {
    font-family: sans-serif;
    font-size: 1.07em;
    font-weight: 300;
}

#HCB_comment_box textarea,
#HCB_comment_box input.text,
#HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email {
    color: var(--text);
    resize: vertical;
}

/* #hcb_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
} */

#HCB_comment_box #hcb_form textarea,
#HCB_comment_box #hcb_form #hcb_form_name,  #HCB_comment_box  #hcb_form_website{
    width: 50%;
    float: left;
}

#HCB_comment_box .hcb-wrapper {
    clear: both;
}

#HCB_comment_box a {
    color: var(--links);
}

#HCB_comment_box .hcb-wrapper-half.input-field {
    width: 50%;
    float: left;
}

#HCB_comment_box input.text {
    width: 95%;
}

.hcb-comment-tb a {
    color: var(--links);
}

input#hcb_submit.submit.btn {
    border: 1px solid var(--links);
    background-color: var(--black) !important;
    color: var(--links) !important;
    font-family: 'Abel', sans-serif !important;
    font-size: large;
    margin: 3.5px 0;
    text-transform: uppercase;
    width: max-content;
    cursor: pointer;
    padding-block: 8px;
}

#hcb_submit:hover {
    background-color: var(--blue) !important;
    color: var(--links);
    border: 1px solid var(--backdrop-dark);
}

#HCB_comment_box div.comment {
    border-bottom: var(--text);
}

#HCB_comment_box .date {
    color: var(--text);
}

#HCB_comment_box .comment .likes {
    color: var(--text);
}

#HCB_comment_box .hcb-link {
    color: var(--links);
    text-decoration: none;
}

#HCB_comment_box #hcb_form textarea,
#HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email,
#HCB_comment_box #hcb_form .btn,
#HCB_comment_box #HCB_comment_form_box .btn,
#HCB_comment_box .home-desc,
#HCB_comment_box {
    font-family: sans-serif !important;
    color: var(--text);
}

/* label#hcb_file_label a.btn-secondary,
#HCB_comment_box > h3, .admin-link, div.home-desc, .home-desc {
    display: none;
} */

/* #HCB_comment_box #hcb_form textarea, */
#HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email {
    width: 95%;
    padding: 8px;
    border: solid gray 1px;

}

#HCB_comment_box #hcb_form textarea {
    width: 100%;
}

#HCB_comment_box .hcb-comment-tb button,
#HCB_comment_box #hcb_form .home-desc a,
#HCB_comment_box .home-desc a:visited {
    color: var(--links) !important;
    padding: 8px;
    border: none;
}
/* 
#HCB_comment_box h3,
.admin-link {
    display: none;
} */

#HCB_comment_box>a {
    display: none;
}

#HCB_comment_box .home-desc {
    font-size: 11px;
}

@media only screen and (max-width : 790px) {

    #HCB_comment_box #hcb_form #hcb_form_name,
    #HCB_comment_box #hcb_form #hcb_form_website,
    #HCB_comment_box #hcb_form #hcb_form_email {
        font-family: sans-serif;
        width: 93%;
    }
}