.tooltip .tooltiptext{
    visibility: hidden;
    width: 23vw;
    height: auto;
    background-color: var(--tltp-bckgrnd);
    color: var(--tltp-text);
    /* 1st=top, 2nd=right, 3rd=bottom, 4th=left */
    padding: 6px 15px 15px 15px;
    top: 85%;
    left: -15%;
}

.tooltiptext.small {
    width: 16vw;
}

.tooltiptext.big {
    width: 35vw;
    top: 75%;
    left: -25%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.border img, .preview.border a img:hover{
    box-sizing: border-box;
    border: 15px solid transparent;
    border-image: url(../images/border.png) 34 39 round;
}

.songs{
    display: inline-flex;
    width: 15vw;
    height: 30%;
    /* margin: 0.65vw; */
    justify-content: center;
}

.songs iframe{
    margin: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width : 940px) {
    .songs{
        width: 30vw; 
    }
    .tooltip .tooltiptext, .tooltiptext.small{
        width: 28vw; 
    }
    .preview{
        margin: 0;
    }
    /* .tooltiptext.small {
        width: 16vw;
    }    */
    .tooltiptext.big {
        width: 45vw;
        left: -75%;
        top: 60%;
    }
    .tooltiptext.big::after {
        left: 60%;
    }
}

/* @media only screen and (max-width : 700px) {
    .songs{
        width: 25.5vw; 
    }
} */

@media only screen and (max-width : 580px) {
    .songs, iframe{
        width: 100%;
    }
    .preview.tooltip{
        width: 85%;
    }
    div.container div.preview.tooltip{
        margin: auto;
    }
    .tooltip .tooltiptext{
        /* width: 75vw; */
        width: 100%;
        padding: 0 15px 10px 15px;
        top: 25%;
        left: -5%;
    } 
    .tooltiptext.small{
        top: 35%;

    }
    .tooltiptext.big{
        top: 13%;
        left: -5%;
    }
    .tooltiptext.big::after {
        display: none;
    }
}

@media only screen and (max-width : 350px) {
    .preview.tooltip{
        width: 100%;
    }
    .tooltip .tooltiptext{
        width: 76vw;
        top: 10%;
    }
}